*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}
body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

header img {
  margin-right: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

.parent{
  margin: 1rem 2vw;
}

.parent section{
  border: 1px solid #ccc;
  background-color: antiquewhite;
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem 0;
}
.parent span{
  background-color: aqua;
  color: #FFF;
  display: block;
  text-align: center;
  padding: .75rem 0;
}
.parent p{
  padding: 10px;
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #f1f1f1;
}
